body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;
}

/* HEADER */
header {
    background-color: #0d3b66;
    color: white;
    text-align: center;
    padding: 40px;
    font-weight: 300;
}

.logo {
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

/* NAV */
nav {
    background-color: #145da0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    justify-content: left;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* BUSQUEDA */
.busqueda {
    text-align: center;
    margin: 30px 0;
}

.busqueda input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* TARJETAS */
.tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: 50px;
    justify-content: center;
    margin: 70px auto;
    max-width: 1000px;
}


.card {
    background-color: white;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    margin: 10px 0 5px 0;
    font-weight: 600;
}

.card p {
    color: #666;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #145da0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0d3b66;
}

/* FOOTER */
footer {
    background-color: #0d3b66;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .tarjetas {
        grid-template-columns: 1fr;
    }
}
